/* if the user has not accepted gdpr question */
.airport img {
  display: none;
}

/* if the user has accecpted */

body.gdpr-ok .airport img {
  width: 30px;
  display: block;
  cursor: pointer;
}

body.gdpr-ok .airport img.filled {
  display: none;
}

body.gdpr-ok .airport.favorite img.filled {
  display: block;
}

body.gdpr-ok .airport.favorite img.unfilled {
  display: none
}